# Golang CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-go/ for more details
version: 2


defaults: &defaults
  docker:
    - image: circleci/golang:1.12
  working_directory: /go/src/github.com/Dynatrace/dynatrace-oneagent-operator


jobs:
  build:
    <<: *defaults
    environment:
      GOOS: linux
      GOARCH: amd64
      CGO_ENABLED: 0
    parallelism: 4
    steps:
      - checkout
      - restore_cache:
          key: gopkg-{{ checksum "Gopkg.toml" }}
          paths:
              - /go/src/github.com/Dynatrace/dynatrace-oneagent-operator/vendor
              - /go/pkg
      - run:
          name: Fetch dependencies
          command: dep ensure -v
      - save_cache:
          key: gopkg-{{ checksum "Gopkg.toml" }}
          paths:
              - /go/src/github.com/Dynatrace/dynatrace-oneagent-operator/vendor
              - /go/pkg
      - run:
          name: Run tests
          command: go test -cover -v $(go list ./... | circleci tests split)
      - run:
          name: Build binary
          command: go build -o ./build/_output/bin/dynatrace-oneagent-operator ./cmd/manager
      - persist_to_workspace:
          root: .
          paths:
            - LICENSE
            - build

  deploy-snapshot:
    <<: *defaults
    steps:
      - setup_remote_docker
      - run: |
          mkdir -p ~/.docker && chmod 0700 ~/.docker
          touch ~/.docker/config.json && chmod 0600 ~/.docker/config.json
          base64 -d >~/.docker/config.json <<<"$OAO_DOCKER_AUTH"
      - attach_workspace:
          at: .
      - run: docker build . -f ./build/Dockerfile -t $OAO_IMAGE:snapshot
      - run: docker push $OAO_IMAGE:snapshot

  deploy-release:
    <<: *defaults
    steps:
      - setup_remote_docker
      - run: |
          mkdir -p ~/.docker && chmod 0700 ~/.docker
          touch ~/.docker/config.json && chmod 0600 ~/.docker/config.json
          base64 -d >~/.docker/config.json <<<"$OAO_DOCKER_AUTH"
      - attach_workspace:
          at: .
      - run: docker build . -f ./build/Dockerfile -t $OAO_IMAGE:$CIRCLE_TAG
      - run: docker push $OAO_IMAGE:$CIRCLE_TAG

  deploy-release-rhcc:
    <<: *defaults
    steps:
      - setup_remote_docker
      - run: |
          mkdir -p ~/.docker && chmod 0700 ~/.docker
          touch ~/.docker/config.json && chmod 0600 ~/.docker/config.json
          base64 -d >~/.docker/config.json <<<"$OAO_DOCKER_AUTH_RHCC"
      - attach_workspace:
          at: .
      - run: docker build . -f ./build/Dockerfile-rhel -t $OAO_IMAGE_RHCC:$CIRCLE_TAG
      - run: docker push $OAO_IMAGE_RHCC:$CIRCLE_TAG

  deploy-release-snapshot:
    <<: *defaults
    steps:
      - setup_remote_docker
      - run: |
          mkdir -p ~/.docker && chmod 0700 ~/.docker
          touch ~/.docker/config.json && chmod 0600 ~/.docker/config.json
          base64 -d >~/.docker/config.json <<<"$OAO_DOCKER_AUTH"
      - attach_workspace:
          at: .
      - run: |
          export RELEASE_TAG=${CIRCLE_BRANCH//release-/v}-snapshot
          docker build . -f ./build/Dockerfile -t $OAO_IMAGE:$RELEASE_TAG
          docker push $OAO_IMAGE:$RELEASE_TAG

workflows:
  version: 2
  build-release:
    jobs:
      - build:
          filters:
            tags:
              only: /.*/
      - deploy-snapshot:
          requires:
            - build
          filters:
            branches:
              only: /^master$/
      - deploy-release:
          requires:
            - build
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore: /.*/
      - deploy-release-rhcc:
          requires:
            - build
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore: /.*/
      - deploy-release-snapshot:
          requires:
            - build
          filters:
            branches:
              only: /release-.*/
