# Golang CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-go/ for more details
version: 2


defaults: &defaults
  docker:
    - image: circleci/golang:1.10
  working_directory: /go/src/github.com/Dynatrace/dynatrace-oneagent-operator


jobs:
  build:
    <<: *defaults
    steps:
      - checkout
      - run: dep ensure -v
      - run: go test -v ./pkg/dynatrace-client/
      - run: |
          SDK=$(dep status | grep github.com/operator-framework/operator-sdk | awk '{print $3}')
          mkdir -p /go/src/github.com/operator-framework
          cd /go/src/github.com/operator-framework/
          git clone -b $SDK https://github.com/operator-framework/operator-sdk.git
          cd operator-sdk
          dep ensure -v
          go install github.com/operator-framework/operator-sdk/commands/operator-sdk
      - setup_remote_docker
      - run: operator-sdk build $OAO_IMAGE:$CIRCLE_WORKFLOW_ID
      - run: docker save -o $CIRCLE_WORKFLOW_ID.tar $OAO_IMAGE:$CIRCLE_WORKFLOW_ID
      - persist_to_workspace:
          root: .
          paths:
            - "*.tar"

  deploy-snapshot:
    <<: *defaults
    steps:
      - setup_remote_docker
      - run: |
          mkdir -p ~/.docker && chmod 0700 ~/.docker
          touch ~/.docker/config.json && chmod 0600 ~/.docker/config.json
          base64 -d >~/.docker/config.json <<<"$OAO_DOCKER_AUTH"
      - attach_workspace:
          at: .
      - run: docker load -i $CIRCLE_WORKFLOW_ID.tar
      - run: |
          docker tag $OAO_IMAGE:$CIRCLE_WORKFLOW_ID $OAO_IMAGE:snapshot
          docker push $OAO_IMAGE:snapshot

  deploy-release:
    <<: *defaults
    steps:
      - setup_remote_docker
      - run: |
          mkdir -p ~/.docker && chmod 0700 ~/.docker
          touch ~/.docker/config.json && chmod 0600 ~/.docker/config.json
          base64 -d >~/.docker/config.json <<<"$OAO_DOCKER_AUTH"
      - attach_workspace:
          at: .
      - run: docker load -i $CIRCLE_WORKFLOW_ID.tar
      - run: |
          docker tag $OAO_IMAGE:$CIRCLE_WORKFLOW_ID $OAO_IMAGE:$CIRCLE_TAG
          docker push $OAO_IMAGE:$CIRCLE_TAG
      - run: |
          docker tag $OAO_IMAGE:$CIRCLE_WORKFLOW_ID $OAO_IMAGE:latest
          docker push $OAO_IMAGE:latest


workflows:
  version: 2
  build-release:
    jobs:
      - build:
          filters:
            tags:
              only: /.*/
      - deploy-snapshot:
          requires:
            - build
          filters:
            branches:
              only: /^master$/
      - deploy-release:
          requires:
            - build
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore: /.*/
