{{- $plaformIsSet := printf "%s" (required "Platform needs to be set to kubernetes or openshift" (include "dynatrace-oneagent-operator.plaformSet" .))}}
apiVersion: rbac.authorization.k8s.io/v1beta1
kind: RoleBinding
metadata:
  name: dynatrace-oneagent-operator
  namespace: {{ .Release.Namespace }}
  labels:
    dynatrace: operator
    operator: oneagent
subjects:
  - kind: ServiceAccount
    name: dynatrace-oneagent-operator
roleRef:
  kind: Role
  name: dynatrace-oneagent-operator
  apiGroup: rbac.authorization.k8s.io